body {
    font-size: 10px;
}

.starter-template {
    text-align: center;
}

input {
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    border: inset;
    width: 100%;
}

fieldset {
    border: none;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}