<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>ChatGPT & Spring demo</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<main role="main" class="container">
  <div class="starter-template">
    <h1>시나리오 AI입니다.<br/>독특한 영상 아이디어를 드립니다.</h1>
    <h2>영상 키워드와 분위기를 넣어주세요.</h2>
    <form th:action="@{/}" method="post">
      <fieldset>
        <div class="form-group">
          <input type="text" name="prompt" th:value="${request}" required autofocus/>
        </div>
        <div class="row">
          <input type="submit" value="Send" />
        </div>
      </fieldset>
    </form>
    <h2 th:if="${scenario != null}">생성된 시나리오</h2>
    <p th:if="${scenario != null}" th:text="${scenario}"></p>
    <h2 th:if="${imageUri != null}">생성된 이미지</h2>
    <img th:if="${imageUri != null}" th:src="${imageUri}" alt="Generated Image" />
  </div>
</main>
</body>
</html>